<html>

<head>
    <title>User's Cart</title>
</head>

<body>
    {{#if cart}}
    {{#each cart}}
    {{category}}<br>
    {{qty}}<br>
    {{pid}}<br><br>
    <form method="POST" action="remove_from_cart">
        <input type="number" value={{pid}} style="display: none;" name="pid">
        <input type="submit" value="Remove from cart">
    </form>
    {{/each}}
    {{else}}
    <h1>No cart...</h1>
    {{/if}}
</body>

</html>