<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script>
        function add_to_stock() {
            var x = document.getElementById('frm');
            x.action = "add_to_stock";
            x.submit();
            return false;
        }
        function add_to_cart() {
            var x = document.getElementById('frm');
            x.action = "add_to_cart";
            x.submit();
            return false;
        }
    </script>
</head>

<body>
    {{#each p}}
    <h2>
        <li>{{category}}
    </h2><br>
    {{#products}}
    <h3>Name: {{name}}</h3>
    <h3>Pid: {{_id}}</h3>
    <h3>Description: {{description}}</h3>
    <h3>Stock: {{stock}}</h3>
    <br>
    {{#if ../../m}}
    <form method="POST" id="frm" action="add_to_stock">
        <input style="display: none;" type="text" value={{_id}} name="p_id">
        <input style="display: none;" type="text" value={{../category}} name="category">
        <input type="number" min="0" name="quantity" value="1">
        <button onclick="add_to_stock()">Add Stock</button>
    </form>
    {{else}}
    <form method="POST" id="frm" action="add_to_cart">
        <input style="display: none;" type="text" value={{_id}} name="p_id">
        <input style="display: none;" type="text" value={{../category}} name="category">
        <input type="number" max={{stock}} min="0" name="quantity" value="1">
        <button onclick="add_to_cart()">Add to cart</button>
    </form>
    {{/if}}
    <br>
    {{/products}}
    <br>
    </li>
    {{/each}}
</body>

</html>